<p>
  <b>Product:</b>
  <%=h @line_item.product_id %>
</p>

<p>
  <b>Order:</b>
  <%=h @line_item.order_id %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @line_item.quantity %>
</p>

<p>
  <b>Total price:</b>
  <%=h @line_item.total_price %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>