<div class="depot-form">
  
  <%= error_messages_for 'order' %>
  
  <% form_for :order, :url => { :action => :save_order } do |form| %>
    <fieldset>
<!-- START_HIGHLIGHT -->
      <legend><%= I18n.t 'checkout.legend' %></legend>
<!-- END_HIGHLIGHT -->

      <div>
<!-- START_HIGHLIGHT -->
        <%= form.label :name, I18n.t('checkout.name') + ":" %>
<!-- END_HIGHLIGHT -->
        <%= form.text_field :name, :size => 40 %>
      </div>

      <div>
<!-- START_HIGHLIGHT -->
        <%= form.label :address, I18n.t('checkout.address') + ":" %>
<!-- END_HIGHLIGHT -->
        <%= form.text_area :address, :rows => 3, :cols => 40 %>
      </div>

      <div>
<!-- START_HIGHLIGHT -->
        <%= form.label :email, I18n.t('checkout.email') + ":" %>
<!-- END_HIGHLIGHT -->
        <%= form.text_field :email, :size => 40 %>
      </div>

      <div>
<!-- START_HIGHLIGHT -->
        <%= form.label :pay_type, I18n.t('checkout.pay_type') + ":" %>
<!-- END_HIGHLIGHT -->
        <%=
          form.select :pay_type,
                       Order::PAYMENT_TYPES, 
# START_HIGHLIGHT
                      :prompt => I18n.t('checkout.pay_prompt')
# END_HIGHLIGHT
        %>
      </div>
    
<!-- START_HIGHLIGHT -->
      <%= submit_tag I18n.t('checkout.submit'), :class => "submit" %>
<!-- END_HIGHLIGHT -->
    </fieldset>
  <% end %>  
</div>
